<div *ngIf="question" [ngClass]="{disabled: !question.enabled}">
    <form>
          <fieldset
              [hidden]="!question.enabled"
              class="form-group">
              <select2 [disabled]="question.disabled"
                  placeholder="Drug search..."
                  (search)="checkChebi($event)"
                  (update)="setValue($event)"
                  customSearchEnabled="true"
                  [value]="select_value"
                  [data]="items">
              </select2>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
              (click)="answer.yesno=true; setValue()"
              [disabled]="!question.enabled"
              [checked]="answer.yesno">Object
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
              (click)="answer.yesno=false; setValue()"
              [disabled]="!question.enabled"
              [checked]="answer.yesno === false">Precipitant
            </label>
          </fieldset>
    </form>
</div>
