<div class="card" *ngIf="question">
    <p class="card-text">{{question.text}}</p>
    <form [ngSwitch]="question.q_type">
        <template ngSwitchWhen=text>
          <fieldset class="form-group">
            <input type="text" class="form-control" id="question{{question.id}}" placeholder="Placeholder" [(ngModel)]="value">
            <small class="text-muted">Some help text.</small>
          </fieldset>
        </template>
        <template ngSwitchWhen=combo>
          <fieldset class="form-group">
              <select class="form-control" id="question{{question.id}}" [(ngModel)]="value">
                <option></option>
                <option *ngFor="#option of question.options" [value]="option">
                    {{option}}
                </option>
            </select>
          </fieldset>
        </template>
        <template ngSwitchWhen=bool>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
              (click)="value='yes'"
              [checked]="'yes' === value">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
              (click)="value='no'"
              [checked]="'no' === value">No 
            </label>
        </template>
        <template ngSwitchDefault>Unknown Question Type</template>
    </form>
</div>
