<div class="assay" *ngIf="question" [ngClass]="{disabled: question.disabled}">
    <span class="card-text" [innerHTML]="question.text"></span>
    <form [ngSwitch]="question.q_type">
        <template ngSwitchWhen=text>
          <fieldset class="form-group">
            <input type="text" class="form-control"
                   placeholder="Text..."
                   (blur)="setValue()"
                   [disabled]="question.disabled"
                   [(ngModel)]="answer.text">
          </fieldset>
          <small *ngIf="question.help_text" class="text-muted">{{question.help_text}}</small>
        </template>
        <template ngSwitchWhen=int>
          <fieldset class="form-group">
            <input type="number" class="form-control"
                   placeholder="Number"
                   (blur)="setValue()"
                   [disabled]="question.disabled"
                   [(ngModel)]="answer.integer">
            <small *ngIf="question.help_text" class="text-muted">{{question.help_text}}</small>
          </fieldset>
        </template>
        <template ngSwitchDefault>Unknown Question Type</template>
    </form>
</div>
