<div *ngIf="question" [ngClass]="{disabled: question.disabled}">
    <form>
          <fieldset
              [hidden]="question.disabled"
              class="form-group">
              <ng-select class="form-control"
                  [disabled]="question.disabled"
                  placeholder="Drug search..."
                  (typed)="checkChebi($event)"
                  [initData]="init"
                  (selected)="setValue($event.text)"
                  [items]="items">
            </ng-select>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
              (click)="answer.yesno=true; setValue()"
              [disabled]="question.disabled"
              [checked]="answer.yesno">Object
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
              (click)="answer.yesno=false; setValue()"
              [disabled]="question.disabled"
              [checked]="answer.yesno === false">Precipitant
            </label>
          </fieldset>
    </form>
</div>
