<div class="card" *ngIf="question" [ngClass]="{disabled: question.disabled}">
    <div *ngIf="user && user.is_staff">
        <span>#{{question.id}}</span>
        <a *ngIf="question.graph" href="/graphs/{{question.id}}.png" target="_blank"><img src="/gicon.png"></a>
    </div>
    <p class="card-text" [innerHTML]="question.text"></p>
    <form>
          <fieldset class="form-group">
              <ng-select class="form-control"
                  [disabled]="question.disabled"
                  placeholder="Drug search..."
                  (typed)="checkChebi($event)"
                  (selected)="setValue($event)"
                  [items]="items">
            </ng-select>
            <small *ngIf="question.help_text" class="text-muted">{{question.help_text}}</small>
          </fieldset>
    </form>
</div>
