<div class="card" *ngIf="question">
    <p class="card-text">{{question.text}}</p>
    <form [ngSwitch]="question.q_type">
        <template ngSwitchWhen=text>
          <fieldset class="form-group">
            <input type="text" class="form-control"
                   placeholder="Placeholder"
                   (blur)="setValue()"
                   [(ngModel)]="answer.text">
            <small class="text-muted">Some help text.</small>
          </fieldset>
        </template>
        <template ngSwitchWhen=combo>
          <fieldset class="form-group">
              <select class="form-control"
                  (blur)="setValue()"
                  [(ngModel)]="answer.text">
                <option></option>
                <option *ngFor="#option of question.options" [value]="option.text">
                    {{option.text}}
                </option>
            </select>
          </fieldset>
        </template>
        <template ngSwitchWhen=bool>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1"
              (click)="answer.yesno=True; setValue()"
              [checked]="answer.yesno">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2"
              (click)="answer.yesno=False; setValue()"
              [checked]="!answer.yesno === False">No 
            </label>
        </template>
        <template ngSwitchDefault>Unknown Question Type</template>
    </form>
</div>
