<div *ngIf="errorMessage">{{errorMessage}}</div>
<div *ngIf="user">
  <button type="button" class="btn btn-success" (click)="newSurvey()">New Survey</button>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  <ul>
      <li *ngFor="let survey of surveys">
       <span
        class="label label-pill label-danger"
        (click)="deleteSurvey(survey.id)">
            x</span>
       <span
        class="label label-pill"
        [class.label-success]="current_survey === survey.id"
        [class.label-default]="current_survey !== survey.id"
        (click)="changeSurvey(survey.id)">
            {{survey.id}} - {{survey.name}}</span></li>
  </ul>
</div>
